<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/project_name/css/styles.css" />
    <title>endigo</title>
  </head>
  <body>
    <div id="root">
      <div class="chatbot-background">
        <div class="chatbot-container">
          <img
            src="../../static/project_name/images/preview_target.webp"
            class="chatbot-preview-image"
            draggable="false"
          />
          <!-- Chatbot Button -->
          <button class="chatbot-button">
            <span class="chatbot-button-text">Chat now</span>
          </button>
          <!-- Chatbot Close Button -->
          <button class="chatbot-close-button">
            <img
              src="../../static/project_name/images/close_round.svg"
              class="chatbot-close-icon"
              draggable="false"
            />
          </button>
          <div class="chatbot-chatbox">
            <div class="chatbot-info"></div>
            <div class="chatbot-chat-info">
              <div class=""></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../../static/project_name/js/scripts.js"></script>
  </body>
</html>
