<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/chatbot_avatar/css/styles.css" />
    <title>endigo</title>
  </head>
  <body>
    <div id="root">
      <div class="chatbot-background">
        <div class="chatbot-container">
          <img
            src="../../static/chatbot_avatar/images/preview_target.webp"
            class="chatbot-preview-image"
            draggable="false"
          />
          <video
            src="../../static/chatbot_avatar/videos/sample_video.mp4"
            class="chatbot-video"
            autoplay
            loop
            muted
          ></video>
          <!-- Chatbot Button -->
          <button class="chatbot-enter-button">
            <span class="chatbot-enter-button-text">Chat now</span>
          </button>
          <!-- Chatbot Close Button -->
          <button class="chatbot-close-button">
            <img
              src="../../static/chatbot_avatar/images/close_round.svg"
              class="chatbot-close-icon"
              draggable="false"
            />
          </button>
          <!-- Chatbot Chatbox -->
          <div class="chatbot-chatbox">
            <div class="chatbot-info">
              <button class="chatbot-info-suggestion-1">
                <span class="chatbot-info-suggestion-1-text"
                  >Tell me about your use case</span
                >
              </button>
              <button class="chatbot-info-suggestion-2">
                <span class="chatbot-info-suggestion-2-text">
                  How can I use it for my business?
                </span>
              </button>
            </div>

            <div class="chatbot-chat-info">
              <button class="chatbot-chat-info-new-chat-button">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12 4V4C8.22876 4 6.34315 4 5.17157 5.17157C4 6.34315 4 8.22876 4 12V18C4 18.9428 4 19.4142 4.29289 19.7071C4.58579 20 5.05719 20 6 20H12C15.7712 20 17.6569 20 18.8284 18.8284C20 17.6569 20 15.7712 20 12V12"
                    stroke="#000000"
                    stroke-width="2"
                    class="chatbot-chat-info-new-chat-button-icon-path"
                  />
                  <path
                    d="M9 10L15 10"
                    stroke="#000000"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="chatbot-chat-info-new-chat-button-icon-path"
                  />
                  <path
                    d="M9 14H12"
                    stroke="#000000"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="chatbot-chat-info-new-chat-button-icon-path"
                  />
                  <path
                    d="M19 8L19 2M16 5H22"
                    stroke="#000000"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="chatbot-chat-info-new-chat-button-icon-path"
                  />
                </svg>
              </button>
              <input
                type="text"
                placeholder="Let's Chat!"
                class="chatbot-chat-info-chat-input-box"
              />
              <div class="chatbot-chat-info-send-button-container">
                <button class="chatbot-chat-info-send-button" disabled>
                  <svg
                    width="28"
                    height="28"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M6.99811 10.2467L7.43298 11.0077C7.70983 11.4922 7.84825 11.7344 7.84825 12C7.84825 12.2656 7.70983 12.5078 7.43299 12.9923L7.43298 12.9923L6.99811 13.7533C5.75981 15.9203 5.14066 17.0039 5.62348 17.5412C6.1063 18.0785 7.24961 17.5783 9.53623 16.5779L15.8119 13.8323C17.6074 13.0468 18.5051 12.654 18.5051 12C18.5051 11.346 17.6074 10.9532 15.8119 10.1677L9.53624 7.4221C7.24962 6.42171 6.1063 5.92151 5.62348 6.45883C5.14066 6.99615 5.75981 8.07966 6.99811 10.2467Z"
                      stroke="#EEEEEE"
                      stroke-width="1.8"
                      class="chatbot-chat-info-chat-send-button-icon-path"
                    />
                  </svg>
                </button>
              </div>
              <button class="chatbot-chat-info-voice-button">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect
                    class="chatbot-chat-info-voice-button-rect"
                    x="8"
                    y="2"
                    width="8"
                    height="13"
                    rx="4"
                    fill="#000000"
                  />
                  <path
                    class="chatbot-chat-info-voice-button-path"
                    d="M5 11C5 12.8565 5.7375 14.637 7.05025 15.9497C8.36301 17.2625 10.1435 18 12 18C13.8565 18 15.637 17.2625 16.9497 15.9497C18.2625 14.637 19 12.8565 19 11"
                    stroke="#000000"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    class="chatbot-chat-info-voice-button-path"
                    d="M12 21V19"
                    stroke="#000000"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
              <div class="chatbot-messages-wrapper">
                <div class="chatbot-messages-container"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../../static/chatbot_avatar/js/scripts.js"></script>
  </body>
</html>
