* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: Mulish, Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

#root {
  height: 100%;
}

.chatbot-background {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 100%;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.12);
  left: 40px;
  bottom: 40px;
  transition: width 0.1s ease-out, height 0.1s ease-out;
}

.chatbot-container {
  width: 196px;
  height: 196px;
  display: flex;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
}

.chatbot-preview-image {
  display: block;
  width: auto;
  height: 100%;
  object-fit: cover;
}

.chatbot-video {
  width: auto;
  height: 100%;
  object-fit: cover;
  display: none;
}

.chatbot-enter-button {
  position: absolute;
  height: 40px;
  background-color: rgb(117, 89, 255);
  color: white;
  border-radius: 8px;
  padding: 0 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  transition: opacity 0.2s ease-out, color 0.2s ease-out,
    background 0.2s ease-out, fill 0.2s ease-out;

  &:hover {
    background-color: rgb(81, 55, 210);
  }
}

.chatbot-enter-button-text {
  font-size: 14px;
  line-height: 20px;
}

.chatbot-close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  transition: background-color 0.2s ease-out;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.chatbot-close-icon {
  width: 24px;
  height: 24px;
}

.chatbot-chatbox {
  position: absolute;
  display: none;
  flex-direction: column;
  width: 480px;
  height: 160px;
  justify-content: space-between;
  align-items: center;
  bottom: 30px;
}

.chatbot-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 106px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.16);
  background: linear-gradient(
      90deg,
      rgba(50, 181, 255, 0.07) 9.15%,
      rgba(255, 114, 224, 0.07) 104.07%
    ),
    rgba(22, 23, 26, 0.3);
  backdrop-filter: blur(15px);
  font-size: 14px;
}

.chatbot-chat-info {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
}

.chatbot-info-start-button {
  height: 40px;
  background-color: rgb(117, 89, 255);
  color: white;
  border-radius: 8px;
  padding: 0 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s ease-out, color 0.2s ease-out,
    background 0.2s ease-out, fill 0.2s ease-out;

  &:hover {
    background-color: rgb(81, 55, 210);
  }
}

.chatbot-info-start-button-text {
  font-size: 14px;
  line-height: 20px;
}

.chatbot-chat-info-new-chat-button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: white;
  border: 1px solid rgba(35, 40, 51, 0.1);

  &:disabled {
    cursor: not-allowed;
  }
}

.chatbot-chat-info-chat-input-box {
  width: 330px;
  height: 40px;
  display: flex;
  border-radius: 8px;
  background-color: white;
  border: none;
  padding: 0 16px;
  transition: border 0.2s ease-out;

  &:focus {
    border: 1px solid rgb(117, 89, 255);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.chatbot-chat-info-send-button-container {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(117, 89, 255);
  border-radius: 8px;
}

.chatbot-chat-info-send-button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;

  &:disabled {
    background-color: rgba(117, 89, 255, 0.4);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.chatbot-chat-info-voice-button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: white;
  border: 1px solid rgba(35, 40, 51, 0.1);

  &:disabled {
    cursor: not-allowed;
  }
}

.chatbot-info-suggestion-1,
.chatbot-info-suggestion-2 {
  display: none;
  justify-content: center;
  align-items: center;
  width: 234px;
  height: 40px;
  padding: 0 16px;
  border-radius: 8px;
  border: 1px solid rgba(35, 40, 51, 0.1);
  background: rgba(22, 23, 26, 0.2);
  user-select: none;
  transition: opacity 0.2s ease-out 0s, border-color 0.2s ease-out 0s,
    color 0.2s ease-out 0s, background 0.2s ease-out 0s, fill 0.2s ease-out 0s,
    box-shadow 0.2s ease-out 0s;

  &:hover {
    background: rgba(35, 40, 51, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.16);
  }
}

.chatbot-info-suggestion-1-text,
.chatbot-info-suggestion-2-text {
  font-size: 14px;
  font-weight: 400;
  color: white;
}

.chatbot-messages-wrapper {
  display: none;
  position: absolute;
  flex-direction: column-reverse;
  bottom: 52px;
  width: 480px;
  height: 100px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  z-index: 1000;
  mask-image: linear-gradient(transparent, rgb(0, 0, 0) 50%);
}

.chatbot-messages-container {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: column;
}

.chatbot-messages-wrapper::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Chrome, Safari, Opera */
}

.chatbot-message {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  width: 100%;
  height: auto;
}

.chatbot-message-avatar {
  width: 20px;
  height: 20px;
  border-radius: 8px;
  margin-right: 6px;
}

.chatbot-message-text {
  width: auto;
  min-height: 28px;
  padding: 4px 8px;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  line-height: 20px;
  background: rgba(22, 23, 26, 0.2);
  backdrop-filter: blur(2px);
  text-shadow: rgba(0, 0, 0, 0.1) 0.5px 0.5px 0.5px;
  word-break: break-word;
}
